/* ASDI.  Michael Usry MiU 1305  */

img.cta {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#errorMsg {
	font-size: 22px;
	color: red;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p {
	font-family: times, serif;
	margin-left: 10px;
	margin-right: 10px;
}

:focus {
	border: 1px sold :red;
}

#errorID {
	display: none;
}
label.error {
	display: block;
	margin: 5px 5px;
	color: red;
}
